/* This is your first CSS lesson! */

/* Style the whole page */
body {
    background-color: lightblue;
  }
  
  /* Style the heading */
  h1 {
    color: darkblue;
    font-size: 36px;
  }
  
  /* Style the paragraph */
  p {
    color: darkgreen;
    font-family: Arial, sans-serif;
    font-size: 18px;
  }
  